<div class="container border border-dark mx-auto mt-5 p-5">
  <h2>投稿者情報</h2>
<table class="table">
  <tr>
    <td>ユーザー名</td>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <td>メールアドレス</td>
    <td><%= @user.email %></td>
  </tr>
</table>

<br>

<% if @current_user.present? && @user.id == @current_user.id %>
<%= link_to("編集", "/users/#{@user.id}/edit" ,class:'btn btn-dark') %>

<%= link_to("削除", "/users/#{@user.id}/destroy", method: :post, data: { confirm: '削除しますか？' },class:'btn btn-dark') %>
<% end %>

</div>

<div class="container mx-auto mt-5">
<h2>投稿一覧</h2>
</div>
<% @user.posts.each do |post| %>
<div class="container border border-dark mx-auto mt-5 p-5">
<table class="table">
  <tr>
    <td>投稿日</td>
    <td><%= post.created_at %></td>
  </tr>
  <tr>
    <td>投稿者</td>
    <td><%= link_to(post.user.name,"/users/#{@user.id}") %></td>
  </tr>
  <tr>
    <td>本のタイトル</td>
    <td><%= post.book_title %></td>
  </tr>

</table>

<br>

<h1><%= post.article_title %></h1>
<br>
<p><%= post.article_body %></p>
    <%= link_to("詳細を見る", "/posts/#{post.id}",class: 'btn btn-dark') %>
</div>

<% end %>
