<div class="container border border-dark mx-auto mt-5 p-5">
<img src = "<%= "/book_images/#{@post.id}.png" %>">
<table class="table">
  <tr>
    <td>投稿者</td>
    <td><%= link_to(@user.name,"/users/#{@user.id}") %></td>
  </tr>
  <tr>
    <td>本のタイトル</td>
    <td><%= @post.book_title %></td>
  </tr>
  <tr>
    <td>著者名</td>
    <td><%= @post.author_name_of_book %></td>
  </tr>
  <tr>
    <td>出版社</td>
    <td><%= @post.name_of_publisher %></td>
  </tr>
  <tr>
    <td>発売日</td>
    <td><%= @post.release_date %></td>
  </tr>
</table>

<br>
<br>
<br>

<h1><%= @post.article_title %></h1>
<br>
<p><%= @post.article_body %></p>

<% if @post.user_id == @current_user.id %>
<%= link_to("編集", "/posts/#{@post.id}/edit" ,class:'btn btn-dark') %>

<%= link_to("削除", "/posts/#{@post.id}/destroy", method: :post, data: { confirm: '削除しますか？' },class:'btn btn-dark') %>

<% end %>

</div>
